.head-dashboard{

     display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
    border: 2px solid black;
}
*{
    font-family: sans-serif;
}
.dashboard-card{
    width: 400px;
}
.header1-Dashboard{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.header1-Dashboard{
    /* border: 1px solid rgb(11, 192, 35); */
    padding: 1px;
    
}

.box1{
    background: rgb(87, 216, 13);
    color: white;
    padding: 5px;
    
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.Mid1-Dashboard{
    /* border: 1px solid black;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Mid1-Dashboard > div {
    /* border: 1px solid black; */
    /* display: flex; */
    width: 50%;
    height: 150PX;
}
.first-Mid1-Dashboard{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
padding: 10px;
/* height: 100%; */
}

.first-Mid1-Dashboard > div{
    /* border: black 1px solid; */
    padding-top: 10px;
    /* height: 30px; */

}